---
- name: Run macOS Tasks
  ansible.builtin.import_tasks: macOS.yml
  when: ansible_os_family == 'Darwin'
- name: Run Ubuntu Tasks
  ansible.builtin.import_tasks: ubuntu.yml
  when: ansible_os_family == 'Debian'
